In [147]:
import numpy as np 
import keras
from keras.models import Sequential
from keras.layers import Dense, Flatten, Dropout
from tensorflow.keras.optimizers import SGD
from keras.utils import np_utils 
from keras import backend as K 
import pandas as pd
from sklearn.model_selection import train_test_split

In [109]:
data = pd.read_csv("dict1.csv", header = None, names = ["Angles", "XY"])

In [110]:
data.head(10)

                                              Angles                         XY
0  (-0.4844, -0.0055999999999999999, -0.4738, -0....  [ 3.3534 -0.758   0.25  ]
1  (0.065799999999999997, 0.32650000000000001, -0...  [ 3.65    0.2261  0.25  ]
2  (0.5, -0.26340000000000002, -0.322799999999999...  [ 3.5975  0.0266  0.25  ]
3  (-0.37380000000000002, 0.057000000000000002, 0...  [ 3.3079  1.1612  0.25  ]
4  (0.4909, -0.50039999999999996, -0.489300000000...  [ 2.8581 -1.8829  0.25  ]
5  (-0.42959999999999998, 0.13919999999999999, 0....  [ 3.1552 -1.5432  0.25  ]
6  (-0.34429999999999999, 0.1285, -0.431599999999...  [ 3.4655  1.0909  0.25  ]
7  (-0.2757, 0.25919999999999999, -0.4516, 0.4562...  [ 3.6169 -0.4705  0.25  ]
8  (0.47560000000000002, -0.32550000000000001, -0...  [ 3.4346 -1.0292  0.25  ]
9  (-0.28349999999999997, 0.27329999999999999, -0...  [ 3.6564 -0.0752  0.25  ]

In [111]:
labels = data['Angles'].to_numpy()
train= data['XY'].to_numpy()

In [113]:
X = list()
Y = list()
for i in range(len(labels)):
    train[i] = train[i].replace('   ', ' ')
    train[i] = train[i].replace('  ', ' ')
    train[i] = train[i].strip('[ ').strip(' ]')
    labels[i] = labels[i].strip('(').strip(')')
    result = [float(val) for val in labels[i].split(',')]
    Y.append(result)
    result = [float(val) for val in train[i].split(' ')]
    X.append(result)

In [114]:
X_train, X_test, y_train, y_test = train_test_split(np.asarray(X), np.asarray(Y), test_size=0.30)

In [115]:
print(np.shape(X_train))
print(np.shape(y_train))
print(np.shape(X_test))
print(np.shape(y_test))

(700, 3)
(700, 5)
(301, 3)
(301, 5)

In [116]:
y_train = np.delete(y_train, 2, 1)
y_test = np.delete(y_test, 2, 1)

In [149]:
def rmse(y_true, y_pred):
    return K.sqrt(K.mean(K.square(y_pred - y_true)))

model = Sequential()
model.add(Dense(10, input_dim =3, activation = 'relu'))
model.add(Dense(64, activation = 'relu'))
model.add(Dense(64, activation = 'relu'))
model.add(Dense(4, activation='linear'))
model.compile(loss=rmse, optimizer=SGD(0.01))

In [150]:
model.summary()

Model: "sequential_21"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_84 (Dense)            (None, 10)                40

 dense_85 (Dense)            (None, 64)                704

 dense_86 (Dense)            (None, 64)                4160

 dense_87 (Dense)            (None, 4)                 260

=================================================================
Total params: 5,164
Trainable params: 5,164
Non-trainable params: 0
_________________________________________________________________

In [151]:
model.fit(X_train, y_train, epochs = 30)

Epoch 1/30
22/22 [==============================] - 0s 2ms/step - loss: 0.3642
Epoch 2/30
22/22 [==============================] - 0s 2ms/step - loss: 0.2865
Epoch 3/30
22/22 [==============================] - 0s 2ms/step - loss: 0.2777
Epoch 4/30
22/22 [==============================] - 0s 2ms/step - loss: 0.2727
Epoch 5/30
22/22 [==============================] - 0s 2ms/step - loss: 0.2698
Epoch 6/30
22/22 [==============================] - 0s 2ms/step - loss: 0.2678
Epoch 7/30
22/22 [==============================] - 0s 2ms/step - loss: 0.2665
Epoch 8/30
22/22 [==============================] - 0s 2ms/step - loss: 0.2656
Epoch 9/30
22/22 [==============================] - 0s 2ms/step - loss: 0.2649
Epoch 10/30
22/22 [==============================] - 0s 2ms/step - loss: 0.2644
Epoch 11/30
22/22 [==============================] - 0s 2ms/step - loss: 0.2644
Epoch 12/30
22/22 [==============================] - 0s 2ms/step - loss: 0.2639
Epoch 13/30
22/22 [==============================] - 0s 2ms/step - loss: 0.2639
Epoch 14/30
22/22 [==============================] - 0s 2ms/step - loss: 0.2634
Epoch 15/30
22/22 [==============================] - 0s 2ms/step - loss: 0.2631
Epoch 16/30
22/22 [==============================] - 0s 2ms/step - loss: 0.2630
Epoch 17/30
22/22 [==============================] - 0s 2ms/step - loss: 0.2630
Epoch 18/30
22/22 [==============================] - 0s 2ms/step - loss: 0.2628
Epoch 19/30
22/22 [==============================] - 0s 2ms/step - loss: 0.2628
Epoch 20/30
22/22 [==============================] - 0s 2ms/step - loss: 0.2626
Epoch 21/30
22/22 [==============================] - 0s 2ms/step - loss: 0.2626
Epoch 22/30
22/22 [==============================] - 0s 2ms/step - loss: 0.2622
Epoch 23/30
22/22 [==============================] - 0s 1ms/step - loss: 0.2625
Epoch 24/30
22/22 [==============================] - 0s 2ms/step - loss: 0.2624
Epoch 25/30
22/22 [==============================] - 0s 2ms/step - loss: 0.2624
Epoch 26/30
22/22 [==============================] - 0s 1ms/step - loss: 0.2624
Epoch 27/30
22/22 [==============================] - 0s 2ms/step - loss: 0.2623
Epoch 28/30
22/22 [==============================] - 0s 2ms/step - loss: 0.2621
Epoch 29/30
22/22 [==============================] - 0s 2ms/step - loss: 0.2617
Epoch 30/30
22/22 [==============================] - 0s 2ms/step - loss: 0.2623

In [152]:
scores = model.evaluate(X_test, y_test, verbose=0) 
print("RMSE: %.2f" % (scores))

RMSE: 0.26

In [70]:
print(model.predict(X_train[10].reshape(1,5)))
print(y_train[10])

[[ 3.0196145 -1.7331649]]
[ 3.039  -1.8172]